<nav>
	<a href='/' class='nav-item {{#if home }}selected{{/if}}'>
		Home <i class='fa fa-bugs'></i>
	</a>
	<a href='/customers' class='nav-item {{#if customers }}selected{{/if}}'>
		Customers <i class='fa fa-ghost'></i>
	</a>
	<a href='/admission-prices' class='nav-item {{#if admissionPrices }}selected{{/if}}'>
		Admission Prices <i class='fa fa-money-check'></i>
	</a>
	<a href='/tickets' class='nav-item {{#if tickets }}selected{{/if}}'>
		Tickets <i class='fa fa-ticket'></i>
	</a>
	<a href='/rooms' class='nav-item {{#if rooms }}selected{{/if}}'>
		Rooms <i class='fa fa-broom'></i>
	</a>
	<a href='/inventory-items' class='nav-item {{#if inventoryItems }}selected{{/if}}'>
		Inventory Items <i class='fa fa-hat-wizard'></i>
	</a>
	<a href='/reviews' class='nav-item {{#if reviews }}selected{{/if}}'>
		Reviews <i class='fa fa-book-skull'></i>
	</a>
	<a href='/employees' class='nav-item {{#if employees }}selected{{/if}}'>
		Employees <i class='fa fa-skull-crossbones'></i>
	</a>
</nav>