<nav>
	<a href='/' class='nav-item {{#ifCond this.currentView '===' 'home'}}selected{{/ifCond}}'>
		Home <i class='fa fa-bugs'></i>
	</a>
	<a href='/customers' class='nav-item {{#ifCond this.currentView '===' 'customers'}}selected{{/ifCond}}'>
		Customers <i class='fa fa-ghost'></i>
	</a>
	<a href='/admission-prices' class='nav-item {{#ifCond this.currentView '===' 'admissionPrices'}}selected{{/ifCond}}'>
		Admission Prices <i class='fa fa-money-check'></i>
	</a>
	<a href='/tickets' class='nav-item {{#ifCond this.currentView '===' 'tickets'}}selected{{/ifCond}}'>
		Tickets <i class='fa fa-ticket'></i>
	</a>
	<a href='/rooms' class='nav-item {{#ifCond this.currentView '===' 'rooms'}}selected{{/ifCond}}'>
		Rooms <i class='fa fa-broom'></i>
	</a>
		<a href='/reviews' class='nav-item {{#ifCond this.currentView '===' 'reviews'}}selected{{/ifCond}}'>
		Reviews <i class='fa fa-book-skull'></i>
	</a>
	<a href='/inventory-items' class='nav-item {{#ifCond this.currentView '===' 'inventoryItems'}}selected{{/ifCond}}'>
		Inventory Items <i class='fa fa-hat-wizard'></i>
	</a>
	<a href='/employees' class='nav-item {{#ifCond this.currentView '===' 'employees'}}selected{{/ifCond}}'>
		Employees <i class='fa fa-skull-crossbones'></i>
	</a>
	<a href='/item-resps' class='nav-item {{#ifCond this.currentView '===' 'itemResponsibilities'}}selected{{/ifCond}}'>
		Item Responsibilities <i class='fa fa-address-book'></i>
	</a>
</nav>