{{> navigation home='true' }}

<main>
	<section>
		<header class='intro'>
			<h1>Spooktacular Haunted House</h1>
			<p>Enter if you dare, our ghostly lair, where spooky sights and chills are everywhere! 👻</p>
		</header>
	</section>
</main>