<html lang='en-CA'>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<title>Spooktacular Haunted House</title>
		<meta name='robots' content='noindex, nofollow' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<link rel='stylesheet' type='text/css' media='screen' href='../css/main.css' />
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' />
	</head>

	<body>
		<nav>
			<a href='/' class='nav-item'>Home <i class='fa fa-bugs'></i></a>
			<a href='/customers' class='nav-item'>Customers <i class='fa fa-ghost'></i></a>
			<a href='/admission-prices' class='nav-item'>Admission Prices <i class='fa fa-money-check'></i></a>
			<a href='/tickets' class='nav-item'>Tickets <i class='fa fa-ticket'></i></a>
			<a href='/rooms' class='nav-item'>Rooms <i class='fa fa-broom'></i></a>
			<a href='/inventory-items' class='nav-item'>Inventory Items <i class='fa fa-hat-wizard'></i></a>
			<a href='/reviews' class='nav-item'>Reviews <i class='fa fa-book-skull'></i></a>
			<a href='/employees' class='nav-item'>Employees <i class='fa fa-skull-crossbones'></i></a>
		</nav>

		<main>
			{{{body}}}
		</main>

		<footer></footer>
	</body>
</html>