<section>
	<h1>Customers</h1>

	{{#if customerDeleted}}
		{{> notification centered='true' type='success' message='Customer successfully deleted.'}}
	{{/if}}

    {{#if retrievalError}}
		{{> notification centered='true' message='Unable to retrieve Customers from database.'}}
	{{/if}}

	<table>
		<thead>
			<tr>
				<th>customerID</th>
				<th>firstName</th>
				<th>lastName</th>
				<th>email</th>
				<th class='col-table-button'></th>
				<th class='col-table-button'></th>
			</tr>
		</thead>
		<tbody>
			{{#each rows}}
			<tr>
				<td>{{this.customerID}}</td>
				<td>{{this.firstName}}</td>
				<td>{{this.lastName}}</td>
				<td>{{this.email}}</td>
				<td>
					<button class='table-button'><i class='fa fa-pen-to-square'></i></button>
				</td>
				<td>
					<button class='table-button delete'><i class='fa fa-trash-can'></i></button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>
<section>
	<h1>Add Customer</h1>
	<form method='POST' action='/customers/add'>
		<div class='form-field'>
			<label for='addCustomerFirstName' class='form-label'>First Name</label>
			<input type='text' id='addCustomerFirstName' name='firstName' >
		</div>
		<div class='form-field'>
			<label for='addCustomerLastName' class='form-label'>Last Name</label>
			<input type='text' id='addCustomerLastName' name='lastName' />
		</div>
		<div class='form-field'>
			<label for='addCustomerEmail' class='form-label'>Email</label>
			<input type='email' id='addCustomerEmail' name='email' />
		</div>
		<div class='button-row'>
			{{#if addCustomerSuccess}}
				{{> notification type='success' message='Customer added successfully!'}}
			{{/if}}
			{{#if addCustomerError}}
				{{> notification message=addCustomerErrorMessage}}
			{{/if}}
			<input type='submit' value='Add Customer' />
		</div>
	</form>
</section>
<section>
	<h1>Update Customer</h1>
	<h2 class='form-subtitle'>
		Edit entry
		<span id='customerID'>1</span>:
		<span id='customerFullName'>Jack O'Lantern</span>
	</h2>
	<form method='POST' id='formUpdateCustomer'>
		<div class='form-field'>
			<label for='' class='form-label' class='form-label'>New First Name</label>
			<input type='text' name='firstName' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label' class='form-label'>New Last Name</label>
			<input type='text' name='lastName' />
		</div>
		<div class='form-field'>
			<label for='' class='form-label'>New Email</label>
			<input type='email' name='email' />
		</div>
		<div class='button-row'>
			{{#if updateCustomerSuccess}}
				{{> notification type='success' message='Customer updated successfully!'}}
			{{/if}}
			{{#if updateCustomerError}}
				{{> notification message='Error! Customer was not updated.'}}
			{{/if}}
			<input type='submit' value='Update Price' />
		</div>
	</form>
</section>